
<ul>
  {{#each model.messages as |message|}}
    <li>{{message.id}} {{message.text}}  </li>
  {{/each}}
</ul>


<form {{action 'sendMessage' on="submit"}}>
  {{input value=newMessage.text}}
  <button type="submit" name="button">Enviar</button>
</form>


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> 
                    Chat: {{model.id}}
                </div>
                <div class="panel-body">
                    <ul class="chat">
                     {{#each model.messages as |message|}}
                        {{#if user===message.user2.id}}
                            <li class="right clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">User id: {{message.user2.id}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    {{message.text}}
                                </p>
                            </div>
                        </li>
                        {{/if}}

                        <li class="right clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">User id: {{message.user2.id}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    {{message.text}}
                                </p>
                            </div>
                        </li>
                     {{/each}}
                        <!-- <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                    	<form {{action 'sendMessage' on="submit"}}>
                    		{{input value=newMessage.text class="form-control input-sm"}}
                        	<span class="input-group-btn">
	                            <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
	                                Send
	                            </button>
                        	</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
