<div class="container">
  <h1>Nuevo Usuario</h1>
  <form {{action 'createUser' model on= 'submit'}}>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Nombre</label>
          {{input class="form-control" value=model.name}}
        </div>

        <div class="form-group">
          <label>Apellidos</label>
          {{input class="form-control" value=model.lastname}}
        </div>

        <div class="form-group">
          <label>Nickname</label>
          {{input class="form-control" value=model.nickname}}
        </div>

        <div class="form-group">
          <label>e-mail</label>
          {{input class="form-control" value=model.email}}
        </div>

        <div class="form-group">
          <label>Password</label>
          {{input class="form-control" value=model.password}}
        </div>

        <div class="form-group">
          <label>Fecha de nacimiento</label>
          {{date-picker class="form-control" value=model.birthday}}
        </div>

        <div class="form-group">
          <label>Telefono</label>
          {{input class="form-control" value=model.phone}}
        </div>

        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-default text-center">Guardar</button>
          <button type="" class="btn btn-default">Cancelar</button>
        </div>
      </div>
    </div>

  </form>

</div>
