<div class="row">
    <div class="container">
        <div class="text-center">
            <h1>Bienvenid@ {{model.name}}</h1>
        </div>
	    <div class="col-md-7">
            <div class="container">
                <div class="col-md-6">                    
                    <form class="well" {{action 'editUser' model on='submit'}}>
                        <div class="form-group">
                            <label>
                                Nombre
                            </label>
                            {{input value=model.name class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label>
                                Apellidos
                            </label>
                            {{input value=model.lastname type="text" class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label>
                                Correo electronico
                            </label>
                            {{input value=model.email type="text" class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label>
                                Fecha de nacimiento
                            </label>
                            {{date-picker class="form-control" value=model.birthday}}
                        </div>        
                        <p class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Actualizar
                            </button>                       
                            <button type="" class="btn btn-danger">
                                Eliminar Cuenta
                            </button>
                        </p>
                    </form>                        
                </div>
            </div>
	    </div>    
	</div>
</div>